<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGGsHWYFWyKTA/profile-displayphoto-shrink_200_200/0/1652802639993?e=1658966400&v=beta&t=7_fcf3n1Ir_2XQJyKkOhjR11ANbAEh6WhUrSCb55gR8" alt="" width="50" height="50" class="img-fluid rounded-circle" alt="Imagem do usuario">
      </li>
      <li class="nav-item pl-3 d-flex align-items-center">
        <p class="m-0 font-weight-bold fs-16 text-white">Nome do usuario</p>
      </li>

    </ul>
  </div>
</nav>
